/*
 * Composition Stylesheet file.
 */

.radio-button {
    -fx-padding: 10;
}

#compositionpane {
    -fx-background-color: white;
}

#selectionarea {
    -fx-fill: rgba(230, 230, 230, 0.2); /* transparent light gray */    
    -fx-stroke: black;
    -fx-stroke-dash-array: 4 2; 
    -fx-stroke-dash-offset: 2;
    -fx-stroke-line-cap: butt;
}

.pitchline {
    -fx-stroke: lightgrey;
    -fx-stroke-width: 1;
}

.playline {
    -fx-stroke: red;
    -fx-stroke-width: 2;
}

.note {
    -fx-stroke: gray;
    -fx-stroke-width: 1;
}

.note.selected { /* can we apply this to gestures*/
    -fx-stroke: mediumspringgreen;
    -fx-stroke-dash-array: 4 2; 
    -fx-stroke-dash-offset: 2;
    -fx-stroke-line-cap: butt;
}

.gesture {
    -fx-fill: transparent; 
    -fx-stroke: black;
    -fx-stroke-dash-array: 4 2; 
    -fx-stroke-dash-offset: 2;
    -fx-stroke-line-cap: butt;
}

.gesture.selected {
    -fx-stroke: mediumspringgreen;
    -fx-stroke-dash-array: 4 2; 
    -fx-stroke-dash-offset: 2;
    -fx-stroke-line-cap: butt;
}